{% verbatim %}
    %script#navbar-templ{type:"text/x-handlebars-template"}
      .row-fluid
        .span3
          %a{href:"/"}
            %img.logo{src:"/static/img/logo.png"}
        .span9
          .row-fluid
            .span12
              %ul.nav.nav-pills.pull-right
                %li
                  %a.twitter-follow-button{href:"https://twitter.com/SpkrBar", target:"_blank"}
                    %i.icon-twitter
                    Follow Us

                {{#unless userLoggedIn}}
                  %li
                    %a#login{href:"#"}
                      Sign In
                  %li
                    %a#register{href:"#"}
                      Join Us
                {{else}}
                  %li.dropdown
                    %a.dropdown-toggle{data-toggle:"dropdown", href:"#"}
                      %i.icon-gear
                      My Account
                      %b.caret

                    %ul.dropdown-menu
                      %li
                        %a{href:"{{profileLink}}"}
                          %i.icon-user
                          My Profile
                      %li
                        %a{href:"/dashboard/"}
                          %i.icon-calendar
                          My Events
                      %li
                        %a{href:"/settings/"}
                          %i.icon-gears
                          Settings
                      %li
                        %a{href:"/invite/"}
                          %i.icon-mail-forward
                          Invites
                      {{#if userIsStaff}}
                        %li
                          %a{href:"/admin/"}
                            %i.icon-gears
                            Admin
                      {{/if}}
                      %li
                        %a{href:"/api/v1/user/logout/"}
                          %i.icon-signout
                          Logout
                {{/unless}}
{% endverbatim %}
