{% verbatim %}
  %script#register-templ{type:"text/x-handlebars-template"}
    .row-fluid
      .span12
        %h2 Welcome to SpeakerMotion

    .row-fluid
      .form-area
        .span12
          #alert-area{style:"display:none"}

          %label{for:"full_name"} Your Name:
          #full_name-error.error
          %input#full_name{type:"text", name:"full_name", value:"{{full_name}}"}

          %label{for:"email"} Your Email:
          #email-error.error
          %input#email{type:"email", name:"email", value:"{{email}}"}

          %label{for:"password"} Password:
          #password-error.error
          %input#password{type:"password", name:"password", value:"{{password}}"}

          %label{for:"confirm"} Confirm:
          #confirm-error.error
          %input#confirm{type:"password", name:"confirm", value:"{{confirm}}"}

    .row-fluid{style:"margin-top:20px"}
      .span12
        %input#register-submit.btn.btn-warning{type:"submit", value:"Join!"}

  %script#register-alert-templ{type:"text/x-handlebars-template"}
    .alert.alert-error
      %button.close{type:"button", data-dismiss:"alert"} &times;
      {{error}}
{% endverbatim %}