- extends 'base.haml'

- block 'content-container'
  #index-container

  - include 'handlebars/index.haml'

- block 'scripts'
  %script{type:"text/javascript"}
    var layout = new SpeakerMotion.Layouts.Index({});
    $('#index-container').html(layout.render().el);
